<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        {% endblock %}

    </head>
    <body>
        {% block nav %}
            <nav>
                <ul>
                    <li><strong>[GESTION DES JEUX]</strong></li>
                </ul>
                <ul>
                    <li><a href="/liste">Liste</a></li>
                    <li><a href="#">Ajout</a></li>
                    <li><a href="#">Connexion</a></li>
                </ul>
            </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
    </body>
</html>
